body{
    margin:0;
}
:root {

}

.vLines li{
    position: absolute;
    top:0px;
    width:0px;
    height:100vh;
    border-right:ridge rgb(65, 65, 49) 5px;
    z-index: -1;
}

.hLines li{
    position: absolute;
    left:0px;
    width:100vw;
    height:0vh;
    border-top:ridge rgb(229, 226, 221) 5px;    
    z-index: -1;    
}

/*#lineDesignVertical {
    position:absolute;
    top:0vh;
    left:87vw;
    height:100vh;
    width:5vw;
    background-color: none; 
    border-right:ridge yellow 5px;
    border-left:ridge yellow 50px;
    z-index: -1;
    opacity:1;
}
#lineDesignHorizontal {
    position:absolute;
    top:28vh;
    left:0vw;
    height:5vh;
    width:100vw;
    background-color: none;
    border-top: ridge yellow 24px;
    z-index: -1;
    opacity:1;
}*/

.fixedNav {
    position:fixed;
    height:12%;
    background-color:#878787;
    color:#fff;
    width:100%;
    z-index: 6;
}

#mainMenu{
    position:relative;
    top:25%;		
    display:grid;
    list-style-type:none;
    grid-template-columns:.7fr .7fr .7fr .7fr .7fr 2fr;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    margin: 0% 7% 7% 12%;
}

#mainMenu li:hover {
    cursor:pointer;
    color:#c7f60c;
}


.pgContainer{
    color:#202022;
    margin:12% 10% 10% 10%;
    height:70vh;
    width:75%;
    background-color:#CACACA;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.7);
    /*box-shadow: -35px 10px 10px rgba(188, 178, 178, 0.5);*/    
}

.pgContainerE{
    color:#202022;
    margin:12% 10% 10% 10%;
    height:70vh;
    width:75%;
    background-color:#CACACA;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.5);
    /*box-shadow: -35px 10px 10px rgba(188, 178, 178, 0.5);*/    
}

/*-------------------------------------------------------------------About page styling*/
#pg1List{
    display:grid;
    list-style-type: none;
    grid-template-columns:1fr 1fr;
    
}

#pImage{
    max-height:200px;
    max-width:137.5px;
    margin:-5% 5% 0% 70%;
    /*border:ridge rgba(80, 227, 227, 0.248) 25px;*/
    border-radius: 30%;
    /*border-left-color:rgb(44, 177, 200);*/
}

#pg1Item1{
    height:83%;
    width:100%;
    margin:2% 0% 0% -10%;
    padding:10%;
    font-family: Georgia, serif;
    color:#202022;
   /*border:ridge 51px #173d47;
    background-color:rgb(22, 22, 20);
    border-radius: 470px;
    border-right-color:rgb(44, 177, 200);
    border-left-color:rgb(44, 177, 200);*/
}

#greeting {
    width:45vw;
}

#greeting2 {    
    width:50vw;
}
/*xxxxxxxxxxx--------------------------------------------------------End About page styling*/

/*-------------------------------------------------------------------Resume page styling*/

/*This is the clickable section headers on the resume page that expand*/
#pg2ListGrid{
    position:absolute;
    top:25%;
    display: grid;    
    grid-template-columns:1fr 1fr 1fr;
    width:70%;
    list-style-type: none;    
}

#pg2ListGrid li{
    font: Helvetica;
    background-color: rgb(111, 124, 128);
    color:#ffffff;
    border:solid #f0f0f0;
    font-size: 1.3em;
    margin-bottom:5%;
    padding:8px;
}

.dropArrow {
    position:relative;
    top:-30%;
    left:85%;
    display:block;
    width:0px;
    height:0px;
    border:.4em solid rgb(38, 44, 151);
    border-bottom-color:transparent;
    border-right-color:transparent;
    border-left-color:transparent;
}

/*#SummaryDrop {
    left:64%;
}

#ExperienceDrop {
    left:74%;
}

#AwardsDrop {
    left:48%;
}

#EducationDrop {
    left:66%;
}

#SkillsDrop {
    left:40%;
}

#VolunteeringDrop {
    left:85%;
}*/

.resumeListItems:nth-child(4):nth-child(5) {
    left:70%;
}

#resumeImg{    
    height:60%;
    width:35%;
    margin:8vh 0vw 8vh 30vw;
}

#resumeContent{
    height:40%;
    width:70%;
}

.resumeSections {
    position:absolute;
    top:55%;
    left:20%;
    width:40%;
}

#summaryDiv {

}

/*------*/

#educationDiv {

}

#educationList1 {
    
}

#educationList2 {

}

/*------*/

#experienceDiv {

}

#experienceList1 {
    position:absolute;
    list-style-type:none;
    top:4vh;
    right:32%;
    width:35vw;
    /*margin-bottom:8%;*/
}

#experienceList2 {
    position:absolute;
    list-style-type:none;
    top:4vh;
    left:60%;
    width:35vw;
    /*margin-bottom:8%;*/
}

/*------*/

#skillsDiv {

}

#skillsGrid {
    display:grid;    
    list-style-type:none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap:13%;
}

/*------*/

#awardsDiv {

}

/*------*/

#volunteeringDiv {

}
/*xxxxxxxxxxxx-------------------------------------------------------End Resume page styling*/

/*-------------------------------------------------------------------example page styling*/
#exampleDescription {    
    padding:0% 4% 0% 4%;
}

.selectedImg img{
    position:absolute;
    top:42vh;
    left:35vw;
    height:40vh;
    width:45vw;
}

#codeExampleList li {
    width:12vw;
}

#ordersProcImage {
    height:20%;
    width:35%;
}

#randQuestionProcImage{
    height:20%;
    width:35%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
}

#sqlProcOrders {
    height:20%;
    width:25%;
    overflow-y:auto;
}

#ordersProcImage {
    position: absolute;
    border: 2px solid black;
    background-color: #fff;
    width:20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: none;
}
/*xxxxxxxxxxxx-------------------------------------------------------End example page styling*/

/*-------------------------------------------------------------------Projects page styling*/

#projGrid{
    grid-template-columns: 1fr 1fr 1fr;
}

#projGrid{
    display:grid;
    list-style-type: none;
    margin:15% 2% 0% 2%;
}

.projTiles{        
    margin-top:25vh;    
}

.projTile {
    position:relative;
    height:20vh;
    width:13vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius:25%;
}
#ordersLink {
    position:relative;
    height:20vh;
    width:20vw;
}



/*xxxxxxxxxxxxx------------------------------------------------------End Projects page styling*/