body{
    margin:0;
    
}

.fixedNav {
    position:fixed;
    height:12%;
    background-color:#878787;
    color:#fff;
    width:100%;
    z-index: 2;
}

#mainMenu{
    position:relative;
    top:25%;		
    display:grid;
    list-style-type:none;
    grid-template-columns:.7fr .7fr .7fr .7fr .7fr 2fr;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    margin: 0% 7% 7% 12%;
}

#mainMenu li:hover {
    cursor:pointer;
    color:#c7f60c;
}

#orientation{
    position:absolute;
    color:rgb(103, 114, 102);;
    top:30vh;
    left:25vw;
}
.pgContainer{
    color:#202022;
    margin:10% 10% 10% 10%;
    height:70vh;
    width:75%;
    background-color:#CACACA;
    /*box-shadow: -35px 10px 10px rgba(188, 178, 178, 0.5);*/    
}

#pg1List{
    display:grid;
    list-style-type: none;
    grid-template-columns:.7fr .65fr;
}

#pImage{
    max-height:200px;
    max-width:137.5px;
    margin:-5% 0% 0% 70%;
    /*border:ridge rgba(80, 227, 227, 0.248) 25px;*/
    border-radius: 30%;
    /*border-left-color:rgb(44, 177, 200);*/
}

#pg1Item1{
    height:83%;
    width:100%;
    margin:2% 0% 0% -10%;
    padding:10%;
    font-family: Georgia, serif;
    color:#202022;
   /*border:ridge 51px #173d47;
    background-color:rgb(22, 22, 20);
    border-radius: 470px;
    border-right-color:rgb(44, 177, 200);
    border-left-color:rgb(44, 177, 200);*/
}



#projGrid{
    display:grid;
    list-style-type: none;
    margin-top:15vh;
}

.projTiles{    
    height:20vh;
    width:20vw;
    background-color:rgb(219, 219, 77);
    border:solid red 2px;
    margin-top:25vh;
}

#ordersImg {
    position:relative;
    height:20vh;
    width:20vw;
    
}
#ordersLink {
    position:relative;
    height:20vh;
    width:20vw;
}

#tempDisclaimer {
    font-size:.5em;
}

#ordersProcImage {
    height:20%;
    width:35%;
    
}

#sqlProcOrders {
    height:20%;
    width:25%;
    overflow-y:auto;
}

#ordersProcImage {
    position: absolute;
    border: 2px solid black;
    background-color: #fff;
    width:20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: none;
}



/*-------------------------------------------------------------------Resume page styling*/

/*This is the clickable section headers on the resume page that expand*/
#pg2ListGrid{
    position:absolute;
    top:20%;
    display: grid;    
    grid-template-columns:1fr 1fr 1fr;
    width:80%;
    list-style-type: none;    
}

#pg2ListGrid li{
    font: Helvetica;
    font-size: 1.6em;
    margin-bottom:5%;
}

#resumeImg{    
    height:60%;
    width:35%;
    margin:8vh 0vw 8vh 30vw;
}

#resumeContent{
    height:40%;
    width:70%;
}

.resumeSections {
    position:absolute;
    top:50%;
    left:20%;
    width:40%;
}

#summaryDiv {

}

/*------*/

#educationDiv {

}

#educationList1 {
    
}

#educationList2 {

}

/*------*/

#experienceDiv {

}

#experienceList1 {
    position:absolute;
    list-style-type:none;
    top:0%;
    right:32%;
    width:35vw;
    margin-bottom:8%;
}

#experienceList2 {
    position:absolute;
    list-style-type:none;
    top:0%;
    left:60%;
    width:35vw;
    margin-bottom:8%;
}

/*------*/

#skillsDiv {

}

#skillsGrid {
    display:grid;    
    list-style-type:none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap:13%;
}

/*------*/

#awardsDiv {

}

/*------*/

#volunteeringDiv {

}
/*-------------------------------------------------------------------End Resume page styling*/
/*-------------------------------------------------------------------Projects page styling*/
#projGrid {
    grid-template-columns: 1fr 1fr 1fr;
}
/*-------------------------------------------------------------------End Projects page styling*/