/* iPhone portrait */
@media only screen and (orientation: portrait) {

    .fixedNav {
        position:fixed;
        height:10%;
        color:#fff;
        width:100%;
    }
    
    #mainMenu{
        position:relative;
        top:0%;		
        display:grid;
        list-style-type:none;
        grid-template-columns:1fr;
        grid-column-gap: 2%;
        grid-row-gap: 1%;
        margin: 1% 7% 3% 0%;
        padding:2% 0% 5% 4%;
        width:20%;
        background-color: #ffffff;
        border:solid yellow 1px;
    }

    #mainMenu li {
        width:80%;        
        color:#000;
        padding:2% 12% 2% 2%;
    }

    #mainMenu li:hover {
        cursor:pointer;
        color:rgb(103, 114, 102);
    }


    #navBtn{
        margin:3%;
    }
    .pgContainer{
        position:absolute;
        top:12vh;
        left:5vw;
        color:rgb(103, 114, 102);        
        height:83vh;
        width:90vw;
        border:solid 1px rgb(103, 114, 102);
        border-radius:0% 45% 0% 0%;
        box-shadow: 0 30px 20px rgba(0, 0, 0, 0.7);
    }


    /*-------------------------------------------------------------------about page styling*/
    #pg1Div{
        border-radius:0% 15% 0% 0%;
    }
    /*#lineDesignVertical {
        position:absolute;
        top:0vh;
        left:80vw;
        height:80vh;
        width:5vw;
        background-color: none; 
        border-right:ridge yellow 5px;
        z-index: -1;
        opacity:1;
    }
    #lineDesignHorizontal {
        position:absolute;
        top:20vh;
        left:0vw;
        height:5vh;
        width:100vw;
        background-color: none;
        border-top: ridge yellow 5px;
        z-index: -1;
        opacity:1;
    }*/
    div#pg1Content{        
        width:100%;
        margin:0% 0% 0% 0%;        
        /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);*/
    }

    #greeting{
        position: absolute;
        top:0%;
        right:0%;
        height:30%;
        width:90%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
        border-radius: 0% 45% 5% 25%;
        background-color: orange;
        z-index:4;        
    }

    #greeting p{ 
        max-width: 50%;
        padding:0% 0% 6% 6%;
    }

    #greeting2{     
        position: absolute;
        bottom:2%;
        left:4%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);   
        width:80%;
        height:65%;
        color:#000;
        background-color: none;
        padding:2%;
        z-index:4;
    }

    #greeting2 p{ 
        
    }

    #pMid{
        position: absolute;
        top:0%;
        right:0%;
        height:75%;
        width:54%;        
        max-width:157.5px;
        border-radius: 0% 45% 5% 25%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
        background-color: rgb(4, 80, 94);
        z-index:3;
    }


    /*
        #greeting3{
        position: absolute;
        bottom:-3%;
        right:0%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);   
        width:80%;
        height:40%;
        border-radius: 0% 0% 0% 0%;
        background-color: #fff;
    }
    */

    #pBack {
        position: absolute;
        top:0%;
        right:0%;
        height:45%;
        width:34%;
        max-height:190px;
        max-width:157.5px;
        border-radius: 0% 45% 5% 25%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
        background-color: #fff;
        z-index:5;
    }


    #pImage{
        position: absolute;
        top:0%;
        right:0%;
        max-height:170px;
        max-width:137.5px;        
        border-radius: 0% 45% 5% 25%;        
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
        z-index:6;
        /*border-left-color:rgb(44, 177, 200);*/
        /*border:ridge rgba(80, 227, 227, 0.248) 25px;*/
    }


    /*xxxxxxxxxxx--------------------------------------------------------End about page styling*/

    /*-------------------------------------------------------------------Resume page styling*/
    
    #pg2ListGrid{
        position:relative;
        top:7.5vh;
        display: grid;    
        grid-template-columns:1fr 1fr;
        width:80%;
        list-style-type: none;    
    }
    
    #pg2ListGrid li{
        font: Helvetica;
        font-size: 1.3em;
        margin-bottom:5%;
    }

    #resumeContent{
        height:40vh;
        width:70vw;
    }

    .resumeSections {
        position:absolute;
        top:50vh;
        left:10vw;
        width:80vw;
    }

    .dropArrow {
        position:relative;
        top:-30%;
        left:85%;
        display:block;
        width:0px;
        height:0px;
        border:.4em solid rgb(38, 44, 151);
        border-bottom-color:transparent;
        border-right-color:transparent;
        border-left-color:transparent;
    }

    .resumeListItems:nth-child(4):nth-child(5) {
        left:70%;
    }

    .resumeSections {
        position:absolute;
        top:55vh;
        left:8.5vw;
        width:70vw;
        background-color: #fff;
        padding:5%;
    }

    #experienceList1 {
        position: absolute;
        top:4vh;
        left:-8vw;
        width:75vw;
    }

    #experienceList2 {
        position: absolute;
        top:18vh;
        left:-8vw;
        width:75vw;
    }

    #skillsGrid {
        display:grid;    
        list-style-type:none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap:13%;
    }

    /*------*/

    #awardsDiv {

    }

    /*------*/

    #volunteeringDiv {

    }
    /*xxxxxxxxxxx---------------------------------------------------------End Resume page styling*/


    /*-------------------------------------------------------------------Projects page styling*/
    .projTile{
        height:10vh;
        width:17vw;
        margin-top:5vh;
    }

    #triviaErr p{
        
    }
    #triviaErr {
        position:absolute;
        right:13vw;
        bottom:30vh;
        background-color:rgb(238, 238, 234);
        padding:5%;
        border-radius:10%;
        width:60vw;
        opacity:.7;
        box-shadow: 0 30px 20px rgba(0, 0, 0, 0.7);
    }
    /*xxxxxxxxxxx--------------------------------------------------------End Project page styling*/

    /*-------------------------------------------------------------------example page styling*/

    
    #exampleDescription {
        font-size:.7em;
    }
    
    .selectedImg img{
        position:absolute;
        top:50vh;
        left:13vw;
        height:20vh;
        width:60vw;
    }

    #codeExampleList li {
        width:72vw;
    }
    /*xxxxxxxxxxx--------------------------------------------------------End example page styling*/
    /*-------------------------------------------------------------------contact page styling*/
    .contactGrid{
        display:grid;
        position:fixed;
        top:0vh;
        left:48vw;
        width:20vw;
        grid-template-columns: 1fr 1fr 1fr;
        list-style-type:none;
        z-index: 7;
    }
    
    .contactGrid > li > a > img {
        height:12vh;
        width:16vw;
    }


    /*xxxxxxxxxxx--------------------------------------------------------End example page styling*/

}



