/* iPhone portrait */
@media only screen and (orientation: portrait) {
    body{
        background-color:orange;
    }
    .fixedNav {
        position:fixed;
        height:10%;
        color:#fff;
        width:100%;
        z-index: 2;
    }
    
    #mainMenu{
        position:relative;
        top:0%;		
        display:grid;
        list-style-type:none;
        grid-template-columns:1fr;
        grid-column-gap: 2%;
        grid-row-gap: 1%;
        margin: 1% 7% 3% 0%;
        padding:2% 0% 5% 4%;
        width:20%;
        background-color: #ffffff;
        border:solid yellow 1px;
    }

    #mainMenu li {
        /*background-color: #ffffff;*/
        width:80%;        
        color:#000;
        padding:2% 12% 2% 2%;
    }

    #mainMenu li:hover {
        cursor:pointer;
        color:rgb(103, 114, 102);
    }


    #navBtn{
        margin:3%;
    }
    .pgContainer{
        color:rgb(103, 114, 102);
        margin:20% 5%;
        height:80%;
        width:90%;
        border:solid 1px rgb(103, 114, 102);
        border-radius:0% 0% 0% 0%;
    }

    #pg1Div{
        border-radius:0% 65% 0% 0%;
    }
    #pg1List{
        display:grid;
        list-style-type: none;
        grid-template-columns:1fr 1fr;
    }
    

    #pImage{
        max-height:150px;
        max-width:117.5px;
        margin:4% 0% 0% 0%;
        margin:-10% 0% 0% 0%;
        border:ridge rgba(80, 227, 227, 0.248) 25px;
        border-radius: 50%;
        border-left-color:rgb(44, 177, 200);
        float:left;
    }
    #greeting2{        
        width:150%;
    }

    #pg2ListGrid{
        grid-template-columns:.75fr;
    }
    .viewResume{
        height:85vh;
        width:60vw;
        margin:0% 10% 20% 10%;
    }
    /*-------------------------------------------------------------------Resume page styling*/

/*This is the clickable section headers on the resume page that expand*/
#pg2ListGrid{
    display: grid;
    grid-template-columns:1fr 1fr;    
    width:80%;
    list-style-type: none;
    margin-left:2%;
}

#pg2ListGrid li{
    font: Helvetica;
    font-size: 1.6em;
}

#resumeImg{    
    height:60%;
    width:35%;
    margin:8vh 0vw 8vh 30vw;
}

#resumeContent{
    height:40%;
    width:70%;
}

.resumeSections {
    position:absolute;
    top:50%;
    left:10%;
    width:80%;
}

#summaryContent {

}

/*------*/

#educationDiv {

}

#educationList1 {
    
}

#educationList2 {

}

/*------*/

#experienceDiv {

}

/*------*/

#skillsDiv {

}

#skillsGrid {
    display:grid;    
    list-style-type:none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:13%;
}

/*------*/

#awardsDiv {

}

/*------*/

#volunteeringDiv {

}
/*-------------------------------------------------------------------End Resume page styling*/


}



@media only screen and (orientation: landscape) {
    body{
        background-color:blue;
    }
}