/* iPhone portrait */
@media only screen and (orientation: portrait) {
    .fixedNav {
        position:fixed;
        height:10%;
        color:#fff;
        width:100%;
    }
    
    #mainMenu{
        position:relative;
        top:0%;		
        display:grid;
        list-style-type:none;
        grid-template-columns:1fr;
        grid-column-gap: 2%;
        grid-row-gap: 1%;
        margin: 1% 7% 3% 0%;
        padding:2% 0% 5% 4%;
        width:35%;
        background-color: #ffffff;
        border:solid yellow 1px;
    }

    #mainMenu li {
        width:90%;        
        color:#000;
        padding:2% 12% 2% 2%;
    }

    #mainMenu li:hover {
        cursor:pointer;
        color:rgb(103, 114, 102);
    }


    #navBtn{
        margin:3%;
    }

    #navBtn img {
        height:30px;
        width:40px;
        padding:.7%;
        border:solid #271a1a 4px;
        border-radius:20%;
        opacity:.8;
    }



    /*******************The browser bar on iphones takes up 10% of the page's viewport height*************/
    /*****************top and height should equal no more than 88% of the viewport height*****************/
    .pgContainer{
        position:absolute;
        top:12vh;
        left:5vw;
        color:rgb(103, 114, 102);        
        height:76vh;
        width:90vw;
        border:solid 1px rgb(103, 114, 102);
        border-radius:0% 15% 0% 15%;
        box-shadow: 0 30px 20px rgba(0, 0, 0, 0.7);
    }

    #pg1, #pg2, #pg3, #pg4, #pg5{
        background-image: url("../assets/woodSculpture.png");
        background-repeat: no-repeat;
        background-position:top;
        height:100vh;
    } 
    #pg1Div, #pg2Div, #pg3Div, #pg4Div, #pg5Div{
        background: radial-gradient(circle at 30% 35%, transparent 60%, #fff 95%) 10% 25%,
        radial-gradient(circle at 45% 95%, transparent 20%, black 80%) 5% 15%,
        radial-gradient(circle at 35% 35%, transparent 2%, black 70%) 5% 15%;
    }

    /*-------------------------------------------------------------------about page styling*/
    #pg1Div{
        border-radius:0% 15% 5% 5%;
    }

    div#pg1Content{        
        width:100%;
        margin:0% 0% 0% 0%;
    }

    #pMid{
        position: absolute;
        top:0%;
        right:0%;
        height:100%;
        width:100%;        
        /*max-width:157.5px;*/
        border-radius: 0% 45% 5% 5%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
        /*background-color: rgb(4, 80, 94);*/
        z-index:3;
    }

    #pBack {
        position: absolute;
        top:0%;
        right:0%;
        height:100%;
        width:100%;        
        border-radius: 0% 15% 0% 5%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
        color:#fff;
        /*background-color: #fff;*/
        z-index:5;        
        /*background: radial-gradient(circle at 30% 35%, transparent 60%, #fff 75%) 10% 15%,
        radial-gradient(circle at 40% 95%, transparent 2%, black 90%) 5% 15%;*/
        /*radial-gradient(circle at 50% 50%, transparent 50%, black 50%) 50% 75%,
        /*radial-gradient(circle at 75% 75%, transparent 50%, black 50%) 75% 100%;*/
    }

    #pBack p {
        font-size:1.2em;
    }
    
    #pBack #aboutTxt {
        width:90%;
        padding:5%;
    }

    #aboutTxt > span.halfWidth{
        width:50vw;
        color:#fff;
        display: inline-block;
        /*margin: 0 35px 0 0;        */
        padding: 0% 8% 8% 8%;
    }

    #aboutTxt > span.fullWidth{
        position: absolute;
        top:30vh;
        left:12vw;
        width:80vw;
        color:#fff;
        padding: 0% 8% 8% 8%;
    }

    #pImage{
        position: absolute;
        top:0%;
        right:0%;
        max-height:170px;
        max-width:137.5px;        
        border-radius: 0% 45% 5% 25%;        
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
        z-index:6;
        /*border-left-color:rgb(44, 177, 200);*/
        /*border:ridge rgba(80, 227, 227, 0.248) 25px;*/
    }


    /*xxxxxxxxxxx--------------------------------------------------------End about page styling*/

    /*-------------------------------------------------------------------Resume page styling*/
    


    #pg2ListGrid{
        position:absolute;
        top:2.5vh;
        left:-16vw;
        display: grid;    
        grid-template-columns:1fr 1fr;
        width:80%;
        list-style-type: none;
    }
    
    #pg2ListGrid li{
        font: Helvetica;
        font-size: 1.3em;
        margin-bottom:5%;
        width:30vw;
    }

    #resumeContent{
        height:40vh;
        width:70vw;
    }



    .dropArrow {
        position:relative;
        top:-30%;
        left:85%;
        display:block;
        width:0px;
        height:0px;
        border:.4em solid #fff;
        border-bottom-color:transparent;
        border-right-color:transparent;
        border-left-color:transparent;
    }

    .resumeListItems:nth-child(4):nth-child(5) {
        left:70%;
    }

    .resumeSections {
        position:absolute;
        top:27.5vh;
        left:-5vw;
        width:70vw;        
        padding:5%;
        font-size: .9em;
    }
    
    #educationDiv > ul > li:nth-child(1) {
        font-size: 1.2em;
        list-style-type: none;
    }
    #experienceDiv ul {
        position: absolute;
        top:1vh;
        left:-8vw;
        width:75vw;
    }

    ol{
        list-style-type: disc;
    }

    #skillsGrid {
        display:grid;
        list-style-type:none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap:2%;
    }

    #skillsGrid li{ 
        width:25vw;
    }

    #expNext, #edNext {
        position: absolute;
        top:70vh;
        left:25vw;
        height:30px;
        width:90px;
        border-radius: 15%;
    }

    /*------*/

    #awardsDiv {

    }

    /*------*/

    #volunteeringDiv {

    }
    /*xxxxxxxxxxx---------------------------------------------------------End Resume page styling*/


    /*-------------------------------------------------------------------Projects page styling*/
    #projGrid{
        left:-5vw;
    }

    .projTile{
        height:10vh;
        width:17vw;
        margin-top:5vh;
    }

    #triviaErr{        
        background-color:rgb(238, 238, 234);
        padding:5%;
        border-radius:10%;
        width:60vw;
        height:100vh;
        opacity:.8;
        box-shadow: 0 30px 20px rgba(0, 0, 0, 0.7);
    }
    /*xxxxxxxxxxx--------------------------------------------------------End Project page styling*/

    /*-------------------------------------------------------------------example page styling*/

    
    #exampleDescription {
        font-size:.7em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:#fff;
    }
    
    .selectedImg #currentExampleImgDiv img{
        position:absolute;
        top:30vh;
        left:5vw;
        height:40vh;
        width:80vw;
    }

    #codeExampleList {
        position: absolute;
        top:15vh;
        left:6vw;
        height:5vh;
        font-family: Arial, Helvetica, sans-serif;
    }

    #codeExampleList option {
        width:72vw;
    }
    /*xxxxxxxxxxx--------------------------------------------------------End example page styling*/
    /*-------------------------------------------------------------------contact page styling*/
    .contactGrid{
        display:grid;
        position:fixed;
        top:0vh;
        left:48vw;
        width:12vw;
        grid-template-columns: 1fr 1fr 1fr;
        list-style-type:none;
        z-index: 7;
    }
    
    .contactGrid > li > a > img {
        height:10vh;
        width:16vw;
    }


    /*#pg1, #pg2, #pg3, #pg4, #pg5{
        background-image: url("../assets/woodSculpture.png");
    }*/
    /*xxxxxxxxxxx--------------------------------------------------------End example page styling*/

}




/*
.horizontal-gradient {
  background: linear-gradient(to right, transparent 50%, black 50%);
}

.vertical-gradient {
  background: linear-gradient(to bottom, transparent 50%, black 50%);
}

.diagonal-gradient {
  background: linear-gradient(to right bottom, transparent 50%, black 50%);
}
.circular-gradient {
  background: radial-gradient(circle, transparent 50%, black 50%);
}

.elliptical-gradient {
  background: radial-gradient(ellipse, transparent 50%, black 50%);
}

.conical-gradient {
  background: radial-gradient(conic, transparent 50%, black 50%);
}
.repeating-horizontal-gradient {
  background: repeating-linear-gradient(to right, transparent 50%, black 50%);
}

.repeating-vertical-gradient {
  background: repeating-linear-gradient(to bottom, transparent 50%, black 50%);
}

.repeating-diagonal-gradient {
  background: repeating-linear-gradient(to right bottom, transparent 50%, black 50%);
}
.repeating-circular-gradient {
  background: repeating-radial-gradient(circle, transparent 50%, black 50%);
}

.repeating-elliptical-gradient {
  background: repeating-radial-gradient(ellipse, transparent 50%, black 50%);
}

.repeating-conical-gradient {
  background: repeating-radial-gradient(conic, transparent 50%, black 50%);
}
.diamond-gradient {
  background: radial-gradient(to right top, transparent 50%, black 50%) 0% 50%,
          radial-gradient(to left top, transparent 50%, black 50%) 50% 0%,
          radial-gradient(to left bottom, transparent 50%, black 50%) 100% 50%,
          radial-gradient(to right bottom, transparent 50%, black 50%) 50% 100%;
}

.starburst-gradient {
  background: radial-gradient(circle at center, transparent 50%, black 50%) 0% 25%,
          radial-gradient(circle at 25% 25%, transparent 50%, black 50%) 25% 50%,
          radial-gradient(circle at 50% 50%, transparent 50%, black 50%) 50% 75%,
          radial-gradient(circle at 75% 75%, transparent 50%, black 50%) 75% 100%;
}

.zigzag-gradient {
  background: linear-gradient(to right, transparent 50%, black 50%) 0% 50%,
          linear-gradient(to left, transparent 50%, black 50%) 50% 100%;
}

*/
